@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Navigation bar */

.topnav {
  width: 100%;
  background-color: #512888;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  height: 40px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 51px;
}

.topnav a:hover {
  background-color: #9D83C0;
}

.topnav a.active {
  background-color: #9D83C0;
}

/* Page */
.page{
  margin-left: 42px;
  margin-right: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Outputs */
.outputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Map and graph section */
.map-graph{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Map */

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    display: none;
}

.map-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

/* Info box */
.info-box{
  position: relative;
  padding: 10px 15px;
  margin: 20px;
  border: 2px solid #512888;
  border-radius: 4px;
  background-color: white;
  color: black;
  max-width: 240px;
  font-size: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.info-box::before{
  content: "";
  position: absolute;
  left: -20px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #512888;
}

/* Slider */
.shiny-input-container:not(.shiny-input-container-inline) {
    text-align: center;
}

.irs--shiny .irs-bar {
    background-color: #512888;
}

.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
    background-color: #512888;
}

/* Static Cards */

#staticCards{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.static-cards {
  color: white;
  width: 191px;
  height: 60px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.static-cards .value {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 15px;
}

.static-cards .label {
  float: right;
  font-size: 10px;
}